name: Android CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Step 1
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Create local.properties
        run: |
          echo "API_KEY=${{ secrets.API_KEY }}" > local.properties

      # Step 3
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Step 4
      - name: Run ktlint
        run: |
          ./gradlew ktlintCheck

      # Step 5
      - name: Build with Gradle
        run: ./gradlew build
      
      
      